In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

# Read in the data, reading in a few columns as datetime objects
tbl = pd.read_csv('data/ums_viz.csv', parse_dates = [1, 4, 12])

In [2]:
# Each row corresponds to a single transaction
print tbl.head()

   UMS_acct_no acct_created  cust_type             perf_name  \
0         1111   1979-08-06  Household   The Infernal Comedy
1         1111   1979-08-06  Household      Yuja Wang, piano
2         1111   1979-08-06  Household   London Philharmonic
3         1111   1979-08-06  Household      Hamburg Symphony
4         1111   1979-08-06  Household  Chicago Symphony Orc

              perf_dt  tck_amt  num_seats            venue    price_type  \
0 2011-10-01 20:00:00      112          2  Hill Auditorium  Choral Union
1 2011-10-09 16:00:00       80          2  Hill Auditorium  Choral Union
2 2011-12-06 19:30:00      112          2  Hill Auditorium  Choral Union
3 2012-01-29 16:00:00       92          2  Hill Auditorium  Choral Union
4 2012-03-09 20:00:00      140          2  Hill Auditorium  Choral Union

  price_type_group  mode_of_sale sales_channel   order_dt postal_code
0      Subs Prices  Subscription           Fax 2011-05-31       48103
1      Subs Prices  Subscription           Fax 2011-05-31       48103
2      Subs Prices  Subscription           Fax 2011-05-31       48103
3      Subs Prices  Subscription           Fax 2011-05-31       48103
4      Subs Prices  Subscription           Fax 2011-05-31       48103

In [3]:
# Take a look at the columns and their data types
print "Columns:"
for col in tbl.columns.tolist():
    print "\t%16s" % col + " : " + str(tbl[col].dtype)

Columns:
	     UMS_acct_no : int64
	    acct_created : datetime64[ns]
	       cust_type : object
	       perf_name : object
	         perf_dt : datetime64[ns]
	         tck_amt : float64
	       num_seats : int64
	           venue : object
	      price_type : object
	price_type_group : object
	    mode_of_sale : object
	   sales_channel : object
	        order_dt : datetime64[ns]
	     postal_code : object

In [4]:
# From this table we can derive an account-level table

acc_tbl = tbl[['UMS_acct_no', 'acct_created', 'cust_type']]
acc_tbl = acc_tbl.drop_duplicates()
acc_tbl = acc_tbl.set_index('UMS_acct_no')

print acc_tbl.head()

            acct_created  cust_type
UMS_acct_no
1111          1979-08-06  Household
1115          1988-02-18  Household
1122          1988-02-10  Household
1130          1988-02-26  Household
1131          1988-02-26  Household

In [ ]:
# We can aggregate some purchase-level statistics for each account

grpAcct = tbl.groupby('UMS_acct_no')

acc_tbl['num_purchases']        = #count the number of transactions per customer
acc_tbl['total_purchase_amt']   = #count the total cost of all transactions per customer
acc_tbl['max_purchase_amt']     = #count the cost of the biggest transaction each customer made
acc_tbl['avg_purchase_amt']     = #get the average cost of all transactions a customer made
acc_tbl['total_num_seats']      = #get the total number of seats a customer purchased
acc_tbl['avg_seat_amt']         = #get the average number of seats a customer purchased per transaction
acc_tbl['most_recent_purchase'] = #get the date of the most recent purchase each customer made
acc_tbl['first_purchase']       = #get the date of the first purchase each customer made

print acc_tbl.head()

In [ ]:
# Show some interesting aggregate statistics

no_orders = len(tbl)
no_accts = len(acc_tbl)
no_purchases_by_acct  = tbl['UMS_acct_no'].value_counts()
no_accts_by_no_purchases = no_purchases_by_acct.value_counts()

print "Number of ticket purchases:                  ", #??
print "Number of unique UMS accounts:               ", #??
print "Maximum no. of purchases on one account:     ", #??
print "Fraction of accts with just one transaction: ", #??
print "Mean number of purchases per account:        ", #??

In [ ]:
# How many tickets do people buy?

plt.hist(acc_tbl['num_purchases'][acc_tbl['num_purchases']<=50].values, bins=50)
plt.title('Distribution of # of transactions per acct')
plt.xlabel('Number of transactions')
plt.ylabel('Number of accts')
plt.show()

print "Number of people with >50 transactions:", (acc_tbl['num_purchases']>50).sum()

In [ ]:
# How long have these accounts been around?

acc_tbl['acct_created'].groupby(acc_tbl['acct_created'].dt.year).count().plot(kind="bar")
plt.xlabel('year')
plt.ylabel('number of accts created')
plt.show()

In [ ]:
# When do transactions occur?

tbl['order_dt'].groupby(tbl['order_dt'].dt.year).count().plot(kind="bar")
plt.xlabel('year')
plt.ylabel('number of transacions')
plt.show()

ax = tbl['order_dt'].groupby(tbl['order_dt'].dt.month).count().plot(kind="bar")
plt.xlabel('month')
plt.ylabel('number of transactions')
month_list = [datetime.date.strftime(datetime.date(year=1900, month=x, day = 1),'%b') for x in range(1,13)]
ax.set_xticklabels(month_list)
plt.show()

tbl['order_dt'].groupby(tbl['order_dt'].dt.hour).count().plot(kind="bar")
plt.xlabel('hour')
plt.ylabel('number of transactions')
plt.show()

In [ ]:
# How expensive are transactions?

plt.hist(tbl['tck_amt'].loc[tbl['tck_amt']<=500], bins=50)
plt.xlabel('Transaction amount')
plt.ylabel('Number of purchases')
plt.show()

print 'Number of transactions over $500:', (tbl['tck_amt']>500).sum()

In [ ]:
# How expensive is each seat?

norm_tck_price = tbl['tck_amt']/tbl['num_seats']

plt.hist(norm_tck_price.loc[norm_tck_price <= 150], bins=50)
plt.xlabel('Price of seat')
plt.ylabel('Number of purchases')
plt.show()

print 'Number of transactions over $150/seat:', (norm_tck_price>150).sum()

In [ ]:
# Let's look at some of the categorical variables

acc_tbl.groupby('cust_type')['cust_type'].count()

In [ ]:
tbl.groupby('venue')['venue'].count()

In [ ]:
print tbl.groupby('price_type')['price_type'].count()

print "Number of price types:", len(np.unique(tbl['price_type']))

In [ ]:
print tbl.groupby('price_type_group')['price_type_group'].count()

In [ ]:
print tbl.groupby('mode_of_sale')['mode_of_sale'].count()

In [ ]:
print tbl.groupby('sales_channel')['sales_channel'].count()